@using Litium.Resources
<ul class="topmenu">
	<li>
		<h2>
			<a href="/Public/Index"> @WebStroreResource.Campaigns</a>
		</h2>
	</li>
	<li>
		<h2>
			<a href="/Public/LoyalityProgram"> @WebStroreResource.LoyalityProgram</a>
		</h2>
	</li>
	<li>
		<h2>
			<a href="/Public/HowToOrder">@WebStroreResource.HowToOrder</a>
		</h2>
	</li>
</ul>
