<div class="topsearch">
	<input type="text" id="search-keyword"/>
	<a href="#" onclick="javscript:SearchProductOnClick(); return false;">
		<img src="/Content/public/images/search.png" alt="search"/>
	</a>
</div>
