@{  Layout = "~/Views/Shared/_PublicMain.cshtml"; }

<h1 class="textaligncenter">Доставка</h1>
<div>
<div style="text-indent: 1.5em; text-align: justify;">
Замовлення, які були відправлені до 17.00, будуть доставлені Вам на наступний день із врахуванням часу можливості отримання:
</div>
<div class="bold">
12.00 - 15.00 <br/>
15.00 - 18.00 <br/>
18.00 - 21.00 <br/>
</div>
</div>
<p></p>
<p>Формування замовлення на сайті - <span class="bold">ЦІЛОДОБОВО</span></p>
<p>
Оператор узгодить з Вами необхідні деталі замовлення: <span class="bold">9.00 - 18.00</span><br/>
Мінімальний розмір замовлення - <span class="bold">150.00 грн.</span>
</p>
<p>
Доставка замолення в межах м. Львова:<span class="bold"> БЕЗКОШТОВНО</span>
</p>
<p>
Доставка замовлення за межі м. Львова*: <span class="bold">4.00 грн./км. в одну сторону</span>
</p>

<h1 class="textaligncenter">Оплата</h1>
<ul>
	<li>1. Готівкою при отриманні замовлення.</li>
	<li>
		2. Банківською платіжною карткою при отриманні замовлення:
		<div class="p" style="text-indent: 1.5em;">
			<img alt="payment providers" src="/Content/public/images/payment_prov.png"/>
		</div>
	</li>
	<li>
		3. Попередня оплата через систему:
		<div style="text-indent: 1.5em;">
			<img alt="privat 24" src="/Content/public/images/privat_24.jpg"/>
		</div>
	</li>
</ul>
<p>
*  За межами міста обслуговуються наступні населені пункти:
<span class="bold">Винники, Давидів, Зубра, Солонка, Сокільники, Малечковичі, Скнилів, Лапаївка, Зимна вода, Рудно, Рясне-Руське, Бірки, Брюховичі, В.Грибовичі, Дубляни, Малехів, Муроване, Лисиничі, Підбірці.</span>
</p>

