@{ Layout = "~/Views/Shared/_PublicMain.cshtml"; }

<h1 class="textaligncenter">Доставка</h1>
<ul>
	<h4>Способи отримання додаткових знижок:</h4>
	<li>1. За об'єми закупок (за виключенням окремих груп товару: соціальні, фрукти, тощо
		).</li>
	<li>2. За відсутність повернень ( введемо в майбутньому ).</li>
</ul>
<p>
	<h5 style="text-indent: 1.5em; text-align: justify;">
	Всі знижки фіксуються в базі продавця. (клієнт теж повинен бачити свою знижку та
	можливості до збільшення персональної знижки, клієнт має бачити скільки йому залишилося
	до збільшення знижки ) Дисконтної карточної системи не буде.
	</h5>
</p>
<ul>
	<li>
		<ul>
			<li>
			-	Зроби перше замовлення на 500 грн. в липні/серпні - отримай постійну знижку 2%; на 1000 грн. - 3%
			</li>
			<li>
			-	при об*ємі закупок за останні три місяці більше 2000 грн клієнт отримує знижку 2%.
			</li>
			<li>
			-	при об*ємі закупок за останні три місяці більше 3000 грн клієнт отримує знижку   3%.
			</li>
			<li>
			-	при об*ємі закупок за останні три місяці більше 5000 грн клієнт отримує знижку   5%.
			</li>
			<li>
			-	Знижки не розповсюджуються на акційні товари.
			</li>
		</ul>
		<ul>
			<li>
			-    при першій відмові від замовлення в клієнта знижка клієнта зменшується на 2%
			</li>
			<li>
			-	при повторному відмовленні на протязі трьох місяців клієнт попадає в чорний список і не обслуговується.  Ми повинні бачити небажаних клієнтів по адресі 
			</li>
			<li>
			-	При відсутності повернень за останні три місяці і к-ті замовлень не менше 4 клієнт отримує знижку 2%.  
			</li>
		</ul>
	</li>
</ul>
